.vscode
CMakeFiles/
h26*_samples/
openmediaanalyzer_autogen/
openmediaanalyzer-testsuite_autogen/
cmake_install.cmake
CMakeCache.txt
Makefile
openmediaanalyzer
openmediaanalyzer-testsuite
ts/*.qm
.lupdate/
.qt/
.project
.cproject
cmake-build-*
.idea
CMakeFiles
Makefile
CMakeCache.txt
*.qm
qrc_*.c*
*.qrc.depends
ts.qrc
.settings
config.h
version.h
moc_*.c*
*.sqlite
README
core
build
data/app.qrc
data/logos/icon.rc
data/theme/icons
data/*.desktop
CPackOptions.cmake
platforms/debian/postinst
platforms/debian/prerm
